{
    "presets": ["env"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@structures": "./structures"
                }
            }
        ]
    ]
}
